* {
    margin: 0;
    padding: 0;
}

header {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/pic.jpg);
    background-size: cover;
    background-position: center;


}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-items: center;
    padding: 20px;




}

nav .logo-img {
    max-height: 54px;
    max-width: 160px;
    z-index: 1;


}

.navbar {
    display: flex;
    align-items: center;

}

.navbar ul {
    display: flex;
    gap: 20px;
    margin: 10px;
    padding: 5px 20px;
    margin-right: 150px;
    gap: 50px;
}

.navbar ul li {
    list-style: none;
    font-size: 17px;
    font-weight: 500;
    font-weight: 550;
    font-family: sans-serif;
    color: #fff;
    cursor: pointer;
    z-index: 1;
}

.navbar span {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar span p {
    font-size: 17px;
    font-weight: 550;
    color: #fff;
    font-family: sans-serif;
    z-index: 1;

}

.navbar span svg {
    color: #b0bac3;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    fill: #1283ec;
    z-index: 1;

}

.content {
    width: 100%;
    position: absolute;
    top: 45%;
    font-weight: 700;
    transform: translateY(-50%);
    color: #fff;
    text-align: center;
}

.content h1 {
    font-size: 65px;
    font-family: sans-serif;
}

.content p {
    margin: 20px auto;
    font-weight: 300;
    line-height: 25px;
    font-size: 25px;
    letter-spacing: 2px;
    font-family: 'Segoe UI';

}


.search {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: absolute;
    top: 65%;
    text-align: center;
}

.search input {
    width: 30%;
    display: inline;
    float: left;
    margin: 0px 10px 10px 0px;
    padding: 10px;
    font-size: 13px;
    color: #161617;
    border-radius: 5px;
}

.search button {
    width: 150px;
    margin-top: -10px;
    padding: 11px 0;
    text-align: center;
    font-weight: bold;
    color: #fff;
    background: transparent;
    border-radius: 5px;
    background-color: #e9a081;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: rgb(29, 27, 27);
}

.grid {
    display:flex;
    align-items: center;
    /* justify-content: space-evenly; */
}

.item {
    margin-top: 20px;
    padding: 10px;
    background: #f9f9f9;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 410px;
    width: 360px;
}

.item-img img {
    background-size: cover;
    background: no-repeat;
    width: 355px;

}
h3
{
    color: #337ab7;;
    padding: 10px;
}
h5{
    color: #337ab7;;
    padding: 0px 10px;
}
.item p{
    font-size: 14px;
    align-items: center;
    padding: 20px 10px;
    letter-spacing: 2px;
}
h2{
    margin: 30px;
    height: 20px;
    padding: 20px 0px;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
}